= simple_form_for([@vod, Timestamp.new], remote: true) do |f|
  = f.input :content, label: "description:", placeholder: "timestamp description"
  = f.input :timeat, as: :string, label: "time:", placeholder: "00:00:00"
  = f.button :submit, id: "timestamp_button", class: "button"
