/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *




*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* line 1, ../../app/assets/stylesheets/style.css.sass */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: black url(/assets/sidebarbackground.png) repeat-y;
  color: #bcb8a7;
}

/* line 6, ../../app/assets/stylesheets/style.css.sass */
#vod_filter {
  margin: 20px 0px;
  width: 300px;
}

/* line 11, ../../app/assets/stylesheets/style.css.sass */
#sidebar {
  width: 320px;
  float: left;
}
/* line 15, ../../app/assets/stylesheets/style.css.sass */
#sidebar h3 {
  color: #f2c819;
  font-size: 14px;
  padding: 10px;
}

/* line 20, ../../app/assets/stylesheets/style.css.sass */
#logo {
  background-image: url(/assets/gdarchivelogo.png);
  width: 185px;
  height: 135px;
  float: left;
  margin: 20px 50px;
}

/* line 27, ../../app/assets/stylesheets/style.css.sass */
#vodlist {
  float: left;
}

/* line 30, ../../app/assets/stylesheets/style.css.sass */
a {
  text-decoration: none;
  color: #bcb8a7;
}

/* line 34, ../../app/assets/stylesheets/style.css.sass */
a:hover {
  color: white;
}

/* line 37, ../../app/assets/stylesheets/style.css.sass */
.header_vod {
  background-image: url(/assets/sidebarheader.png);
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-top: 20px;
  color: black;
  height: 60px;
  width: 320px;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.6);
  float: left;
}

/* line 48, ../../app/assets/stylesheets/style.css.sass */
#vods {
  width: 300px;
}

/* line 51, ../../app/assets/stylesheets/style.css.sass */
#vods li {
  padding: 10px;
  margin-left: 5px;
  font-size: 14px;
}

/* line 56, ../../app/assets/stylesheets/style.css.sass */
label {
  color: #f2c819;
  font-size: 14px;
  float: left;
  padding: 5px;
  margin-left: 5px;
}

/* line 63, ../../app/assets/stylesheets/style.css.sass */
#container {
  width: 1278px;
}

/* line 65, ../../app/assets/stylesheets/style.css.sass */
#vod_area {
  float: left;
  margin-left: 50px;
  width: 700px;
}
/* line 70, ../../app/assets/stylesheets/style.css.sass */
#vod_area p {
  padding: 5px;
}

/* line 73, ../../app/assets/stylesheets/style.css.sass */
#vod_player {
  float: left;
  margin-bottom: 30px;
  margin-left: 50px;
  background: rgba(155, 255, 255, 0.2);
}

/* line 80, ../../app/assets/stylesheets/style.css.sass */
h1 {
  color: #bcb8a7;
  font-size: 1.5em;
  margin: 50px 10px;
}

/* line 85, ../../app/assets/stylesheets/style.css.sass */
#timestamp {
  padding: 10px;
  margin-bottom: 10px;
}
/* line 89, ../../app/assets/stylesheets/style.css.sass */
#timestamp li {
  float: left;
  padding: 5px 10px;
  margin-bottom: 10px;
}

/* line 94, ../../app/assets/stylesheets/style.css.sass */
h3 {
  font-size: 1.2em;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

/* line 100, ../../app/assets/stylesheets/style.css.sass */
#timestamp_add {
  width: 100%;
  display: true;
  float: left;
  color: #f2c819;
}

/* line 106, ../../app/assets/stylesheets/style.css.sass */
#timestamp_form {
  float: left;
  display: none;
  width: 100%;
}

/* line 111, ../../app/assets/stylesheets/style.css.sass */
.searchbox {
  color: white;
  border: 0px solid black;
  background: #3e3e3e;
  width: 200px;
  font-size: 12px;
  height: 20px;
  margin-left: 5px;
}

/* line 120, ../../app/assets/stylesheets/style.css.sass */
.styled-select {
  background: #3e3e3e;
  width: 200px;
  height: 22px;
  font-size: 12px;
  border: 1px solid black;
  color: #bcb8a7;
  margin-left: 5px;
}

/* line 129, ../../app/assets/stylesheets/style.css.sass */
option {
  background: #3e3e3e;
}

/* line 132, ../../app/assets/stylesheets/style.css.sass */
.button, .button:visited {
  background: #f2c819;
  display: inline-block;
  padding: 2px 5px;
  color: black;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  position: relative;
  cursor: pointer;
  font-size: 11px;
  border: 0px;
  width: 100px;
  margin-top: 10px;
  margin-left: 170px;
}

/* line 148, ../../app/assets/stylesheets/style.css.sass */
.button:hover {
  background-color: #ffa311;
}

/* line 151, ../../app/assets/stylesheets/style.css.sass */
#timestamp_content, #timestamp_timeat {
  width: 200px;
  float: left;
  background: #3e3e3e;
  border: 0px;
  color: white;
}
