%h2.header_vod Latest Vods
%ul#vods
  -latest_vods.each do |vod|
    %li= link_to vod.title, vod
%h2.header_vod Most Watched Vods
%ul#vods
  -Vod.most_watched.each do |vod|
    %li= link_to vod.title, vod
