%h2.header_vod Filter Vods:

= form_for Search.new do |f|
  %label 
    =f.collection_select(:game_id, Game.order(:name), :id, :name, {include_blank: 'No Game Filter'}, {class: "styled-select"})
    Game
  %label 
    =f.collection_select(:show_id, Show.order(:name), :id, :name, {include_blank: 'No Show Filter'}, {class: "styled-select"})
    Show
  %label 
    =f.text_field :keywords, class: "searchbox"
    Search
  =f.submit "Search", class: "button"

