%h2.header_vod Filter Vods:
%label 
  %select.styled-select{name: "game", id: "game"}
    %option{value: "none"} No Game Filter
    %option{value: "BLC"} Bloddline Champion
    %option{value: "Dota2"} Dota 2
    %option{value: "Diablo3"} Diablo 3
    %option{value: "Starcraft2"} Starcraft 2
    %option{value: "Quake"} Quake
    %option{value: "other"} Other
  Game
%label 
  %select.styled-select{name: "show", id: "show"}
    %option{value: "none"} No Show Filter
    %option{value: "gdshow"} The GD Show
    %option{value: "learn2play"} Learn 2 Play
    %option{value: "thearena"} The Arena
    %option{value: "other"} Other
  Show
%label
  %input#searchbox{type: "text", name: "searchbox"}
  Search
%input.button{type: "button", value: "search"}
