#vod_area
  %h1= @vod.title
  =render :partial => "vodplayer", :locals => { :vod => @vod, :time => @time }
  -unless @vod.timestamps.empty?
    %h3 Timestamps
    %ul#timestamp
      = render @vod.timestamps.reverse
  -else
    %h3 No available Timestamps
  =render :partial => "timestamps/form"
