#vod_area
  %h1= @vod.title
  = @vod.views
  -if session[:autoplay]
    =render :partial => "vodplayerlive", :locals => { :vod => @vod, :time => @time }
  -else
    =render :partial => "vodplayerembed", :locals => { :vod => @vod, :time => @time }
  -unless @vod.timestamps.empty?
    %h3 Timestamps
    %ul#timestamp
      = render @vod.timestamps.sort! {|a,b| a.timeat <=> b.timeat}
  -else
    %h3 No available Timestamps
    %ul#timestamp
  #timestamp_form
    =render :partial => "timestamps/form"
  =link_to "Add timestamps", "#", id: "timestamp_add"
