<!DOCTYPE html>
%html
  %head
  %meta{charset: "utf-8"}
    %title The GD VOD Archives
    =stylesheet_link_tag "application"
    =javascript_include_tag "application"
    =csrf_meta_tags
    =analytics_init if Rails.env.production?
  %body
    #container
      #sidebar
        =render "shared/sidebar"
      #mainarea 
        = yield
